# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.envrc/
*.env
*.err

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files
*.pth
*.pt


# Saved embeddings / models
models/
static/
*.npy

# Dataset files
# *.csv
*.tsv
# *.json

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp